apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregator-Deployment
  labels:
    app: aggregator
spec:
  replicas: 3
  selector:
    matchLabels:
      app: aggregator
  template:
    metadata:
      labels:
        app: aggregator
    spec:
      containers:
      - name: aggregator
        image: pta19059/aggregator:latest
        ports:
        - containerPort: 8085
